#main-button{
    width: 302px;
    height: 86px;
    background-color: #92E16C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

#main-button:hover {
    border: 10px solid #219653;
    box-sizing: border-box;
    cursor: pointer;
}