%button{
    width: 302px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

#main-button{
    @extend %button;
    background-color: #92E16C;
}


#main-button-gen{
    @extend %button;
    background-color: #D1966E;
    border-radius: 10px;
    width: 350px;
}

#main-button:hover {
    border: 10px solid #219653;
    box-sizing: border-box;
    cursor: pointer;
}