%flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main{
    height: 110px;
    background-color: #FF0000;
    background-color: #E71D23;
    // width: 100%;
    color: white;
}

#pokedex{
    font-size: 30px;
    padding-top:15px;
}

#logo{
    width: 60px;
    margin-top: -15px;
    padding-top:10px;
    padding-left:5px;
    // height: 95px
}
    
#flex-container-main{
    @extend %flex-container;
    padding-top: 34px;
    padding-left: 20px;
    padding-bottom: 30px;
    width: 1300px;
}

#tree-item-flex-container{
    @extend %flex-container;
    width: 530px;
    font-size: 15px;
    line-height: 20px;
}

#logo-header-container{
    @extend %flex-container;
    width: 315px;
    padding-left: 20px;
    // margin-top: -30px;

}

.tree-navbar{
    width: 338px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tree-navbar:hover{
    cursor: pointer;
    border: 5px solid #12C100;
    border-radius: 30px;
    border-width: 4px;
}


// .tree-navbar {
//         width: 338px;
//     height: 53px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     // position: relative;
//     // width: 100px;
//     // height: 100px;
//     // margin: 20px;
//     border: 1px solid #000;
// }
// .tree-navbar:before {
//     display: block;
//     content: "";
//     width: 20px;
//     height: 20px;
//     position: absolute;
//     top: -10px;
//     left: -10px;
//     border-top: 1px solid #000;
//     border-left: 1px solid #000;
// }
// .tree-navbar:after {
//     display: block;
//     content: "";
//     width: 20px;
//     height: 20px;
//     position: absolute;
//     top: -10px;
//     right: -10px;
//     border-top: 1px solid #000;
//     border-right: 1px solid #000;
// }
// .test:before {
//     display: block;
//     content: "";
//     width: 20px;
//     height: 20px;
//     position: absolute;
//     bottom: -10px;
//     left: -10px;
//     border-bottom: 1px solid #000;
//     border-left: 1px solid #000;
// }
// .test:after {
//     display: block;
//     content: "";
//     width: 20px;
//     height: 20px;
//     position: absolute;
//     bottom: -10px;
//     right: -10px;
//     border-bottom: 1px solid #000;
//     border-right: 1px solid #000;
// }