%flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

%container{
    width: 1250px;
height: 219px;
border: solid #D7D7D7;
border-width: 15px;
// border-color: #D7D7D7;
margin-left: 52px;
margin-top: 40px;
background-color: #6FA9D1;
border-radius: 15px;
color: black;
}

#main-container{
@extend %container;
}

#main-flexbox{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

#visited-search{
    display: flex;
    justify-content: space-between;
    width: 450px;
}

#main-flexbox-genButtons{
    @extend %flex-container;
    flex-direction: row;
    width: 850px;
}

#main-container-genButtons{
    @extend %container;
    @extend %flex-container;
    align-items: center;
    justify-content: center;
}

#column-container{
    @extend %flex-container;
    align-items: center;
    height:170px;
}