div{
  font-family: 'Pokemon GB'
}

#button-flexbox{
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
  margin-left: -40px;
  /* margin-left: 312px; */
  width: 800px;
}

#search-flexbox{
  display: flex;
  justify-content: space-between;
  width: 300px;
}